# Ignoring files when COPY to docker image
.dockerignore
.git*
docker-compose*
composer.lock
vendor/*
storage/cache/*
storage/coverage/*
storage/log/*
/frontend/node_modules/
/frontend/tests/*.html
/frontend/tests/*.log
/frontend/tests/screenshots/
/frontend/.eslintcache
/frontend/static/build/
/rr*