version: '3'

services:
    web:
        image: nginx:latest
        ports:
            - "8081:80"
        depends_on:
            - php
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf
        networks:
            - default
    php:
        build: ./docker/php
        depends_on:
            - db
        volumes:
            - ./:/var/www/html
        networks:
            - default
    db:
        image: mariadb:latest
        command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_USER: web
            MYSQL_PASSWORD: web
            MYSQL_DATABASE: web
        networks:
            - default
    mailhog:
        image: mailhog/mailhog
        ports:
            - 8082:8025
        networks:
            - default

networks:
    default:
        driver: bridge