<div class="container">

    <div class="jumbotron">

        <h1>Welcome to Symlex!</h1>

        <p>This boilerplate app is built on top of <strong>Silex 2</strong> and uses the well known Symfony DI container instead of Pimple.
            Twitter Bootstrap, RequireJS and AngularJS are used for the example front-end code (static home page, login form and user management).
            You can use Symlex with any JavaScript library and REST client or to output static HTML.
            A working example for command line applications is included as well.</p>

        <p>After running "bin/phing build", you can sign in as "admin@example.com" using the password "passwd".</p>

        <p><a class="btn btn-primary btn-lg" href="https://github.com/lastzero/silex-boilerplate">Visit this project on
            GitHub &raquo;</a></p>

    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Silex</h2>

            <p>Silex is a PHP microframework for PHP 5.3. It is built on the shoulders of Symfony2 and Pimple and also
                inspired by sinatra.</p>

            <p><a class="btn btn-default" href="http://silex.sensiolabs.org/">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Symfony Components</h2>

            <p>Symfony Components implement common features needed to develop websites. They are the foundation of the
                Symfony full-stack framework.</p>

            <p><a class="btn btn-default" href="http://symfony.com/components">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Twitter Bootstrap</h2>

            <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first
                projects on the web.</p>

            <p><a class="btn btn-default" href="http://getbootstrap.com/">Visit details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>{{ config.app_name }} {{ config.app_version }} - powered by Silex 2 and Symfony Components</p>
    </footer>
</div>