@import url("../node_modules/vue-material/dist/vue-material.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");

body {
    padding-top: 80px;
}

code {
    color: #333 !important;
    background-color: #fff !important;
}

.jumbotron {
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    padding: 10px 0;
}

.masthead, .body-content {
    padding: 40px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.green {
    color: #5cb85c;
}

.orange {
    color: #f0ad4e;
}

.red {
    color: #d9534f;
}