<div class="container">
    <div class="jumbotron">
        <form id="user">
            <div class="input-group">
                E-Mail: <input type="text" class="form-control" placeholder="E-Mail" name="email" value="<%= user.email %>">
        </div>
        </form>
    </div>
</div>