<div class="container">

    <div class="jumbotron">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-Mail</th>
            </tr>
            </thead>
            <tbody>
            <% can.each(users, function(user, key) { %>
            <tr>
                <td><%= user.user_id %></td>
                <td><%= user.firstname %></td>
                <td><%= user.lastname %></td>
                <td><%= user.email %></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

</div>