@import url("../../node_modules/material-design-icons-iconfont/dist/material-design-icons.css");
@import url("../../node_modules/vue-material/dist/vue-material.css");

body {
    padding-top: 80px;
}

code {
    color: #333 !important;
    background-color: #fff !important;
}

.jumbotron {
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    padding: 10px 0;
}

.masthead, .body-content {
    padding: 40px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.green {
    color: #5cb85c;
}

.orange {
    color: #f0ad4e;
}

.red {
    color: #d9534f;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.1em;  /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: -0.15em;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}