@import url("bootstrap.css");
@import url("angular-motion.css");

body {
    padding: 70px 40px 40px 40px;
    color: #333;
    background-color: #fff;
}

div#main {
    margin: 20px;
}

.ng-cloak, .x-ng-cloak {
    display: none !important;
}

.form-signin, .form-reset-password {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control
{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-reset-password button[type="submit"] {
    margin-top: 10px;
}

.form-signin button[type="submit"] {
    margin-bottom: 10px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

table tr .btn-danger {
    visibility: hidden;
}

table tr:hover .btn-danger {
    visibility: visible;
}

/*!
 * angular-loading-bar v0.5.0
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2014 Wes Cruver
 * License: MIT
 */

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
    pointer-events: none;
    -webkit-pointer-events: none;
    -webkit-transition: 350ms linear all;
    -moz-transition: 350ms linear all;
    -o-transition: 350ms linear all;
    transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
    opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
    opacity: 1;
}

#loading-bar .bar {
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    -o-transition: width 350ms;
    transition: width 350ms;

    background: #29d;
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
    position: absolute;
    width: 70px;
    right: 0;
    top: 0;
    height: 2px;
    opacity: .45;
    -moz-box-shadow: #29d 1px 0 6px 1px;
    -ms-box-shadow: #29d 1px 0 6px 1px;
    -webkit-box-shadow: #29d 1px 0 6px 1px;
    box-shadow: #29d 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 10002;
    top: 10px;
    left: 10px;
}

#loading-bar-spinner .spinner-icon {
    width: 14px;
    height: 14px;

    border:  solid 2px transparent;
    border-top-color:  #29d;
    border-left-color: #29d;
    border-radius: 10px;

    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation:    loading-bar-spinner 400ms linear infinite;
    -ms-animation:     loading-bar-spinner 400ms linear infinite;
    -o-animation:      loading-bar-spinner 400ms linear infinite;
    animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
    0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
    0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
    0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
    0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
    0%   { transform: rotate(0deg);   transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* Alerts */

#alerts {
    position: fixed;
    z-index: 1051;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
}

#alerts .success {
    color: #3c763d;
    background-color: #dff0d8;
    border-bottom: 1px solid #3c763d;
}

#alerts .success:after {
    content: '  ✔';
}

#alerts .error {
    color: #bf120f;
    background-color: #f2dede;
    border-bottom: 1px solid #bf120f;
}

#alerts .error:before {
    content: '✘  ';
}

#alerts .warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-bottom: 1px solid #8a6d3b;
}

#alerts .warning:before {
    content: '⚠  ';
}

#alerts .info {
    color: #333333;
    background-color: #fefefe;
    border-bottom: 1px solid #333333
}

#alerts .alert {
    display: block;
    left: 0;
    right: 0;
    min-height: 14px;
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.8;
    border-radius: 0;
    margin: 0;
}