<form role="form" autocomplete="off" name="user_password">
    <div class="modal-header">
        <h3 class="modal-title">Change Password</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="input-password">Old Password</label>
            <input type="password" class="form-control" id="input-password" required="required" ng-minlength="8" placeholder="" ng-model="form.password">
        </div>
        <div class="form-group">
            <label for="input-new-password">New Password</label>
            <input type="password" class="form-control" id="input-new-password" required="required" ng-minlength="8" placeholder="" ng-model="form.new_password">
        </div>
        <div class="form-group">
            <label for="input-new-password-confirm">New Password Confirmation</label>
            <input type="password" class="form-control" id="input-new-password-confirm" required="required" ng-minlength="8" match="form.new_password" placeholder="" ng-model="form.new_password_confirm">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="user_password.$invalid">Submit</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</form>