{% include 'partials/header.twig' %}
{% include 'partials/nav.twig' %}

<div class="container">
    <form id="reset-password" class="form-reset-password" role="form" method="post" name="reset_form" action="/auth/password/{{ token }}">
        {% include 'partials/csrf_token.twig' %}
        <h2 class="form-signin-heading">Set new password</h2>

        {% if error %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endif %}

        <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="New Password" ng-minlength="8" required="required" name="password" value="" ng-model="password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="New Password Confirmation" ng-minlength="8" required="required" match="password" name="password_confirm" value="" ng-model="password_confirm">
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="reset_form.$invalid">Submit</button>
    </form>
</div>

{% include 'partials/footer.twig' %}