{% include 'partials/header.twig' %}

<div class="container">
    <form id="reset-password" class="form-reset-password" role="form" method="post" action="/auth/password/{{ token }}">
        <h2 class="form-signin-heading">Set new password</h2>

        {% if error %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endif %}

        <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="New Password" required="required" name="password" value="">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="New Password Confirmation" required="required" name="password_confirm" value="">
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
</div>

</body>
</html>