{% include 'partials/header.twig' %}

<div id="app-container">
    <div class="loading">
        <div class="v-progress-linear" style="height: 7px;">
            <div class="v-progress-linear__background blue-grey" style="height: 7px; opacity: 0.3; width: 100%;"></div>
            <div class="v-progress-linear__bar">
                <div class="v-progress-linear__bar__indeterminate v-progress-linear__bar__indeterminate--active">
                    <div class="v-progress-linear__bar__indeterminate long blue-grey"></div>
                    <div class="v-progress-linear__bar__indeterminate short blue-grey"></div>
                </div><!----></div>
        </div>
    </div>
</div>

{% include 'partials/footer.twig' %}
