{% include 'partials/header.twig' %}
<div id="alerts"></div>

<div id="app">
    <div class="loading">
        <img src="/img/ajax-loader.gif">
    </div>
</div>

{% include 'partials/footer.twig' %}
